*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.form{
    display: flex;
    justify-content: center;
}
.center{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    text-align: center;
}
#email{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
}
#password{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
}
#submit{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}
#name{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
}
.user{
    text-decoration: none;
    color: black;
}
.registerlink{
    text-align: center;
    text-decoration: none;
    color: blue;
}